.customcontainer {
  width: auto;
  height: 100vh;
  padding-top: 5%;
  background-image: url('../../../assets/images/presentation-bg.jpg');
}

.regcontainer {
  width: 70%;
  height: auto;
  height: auto;
  margin: auto;
  background-color: white;
}

.registerform {
  width: 90%;
  height: auto;
  background-color: white;
  margin: auto;
}

.titlediv {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.label-custom {
  float: left !important;
}

.sign-up-btn {
	font-family: 'lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
}