<!-- <div *ngIf="errorMessage">
    <div>
        <div class="alertsuccess" *ngIf="errorMessage.notificationInfo!=='ERROR'">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            
            <p style="text-align: end">{{errorMessage.errorMessage}}</p>
        </div>


        <div class="alerterror" *ngIf="errorMessage.notificationInfo==='ERROR'">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Error :</strong> {{errorMessage.errorMessage}}
        </div>
    </div>
</div> -->