<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top custnav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-brand-custom">IEEE Projects</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <div class="form-inline my-2 my-lg-0 custom-navbar">
            <a class="navbar-brand" [routerLink]="['/catererhome']" routerLinkActive="active">Home</a>
            <a class="navbar-brand" [routerLink]="['/cart']" routerLinkActive="active"><i class="fas fa-shopping-cart"></i>
              <span class="badge badge-warning badge-pill" *ngIf="cartCount">
                  {{cartCount}}
              </span>
            </a>
            <a class="navbar-brand" [routerLink]="['/order']" routerLinkActive="active">Orders</a>
            <a class="navbar-brand" [routerLink]="['/account']" routerLinkActive="active">Account</a>
            <a class="navbar-brand" (click)="onLogout();" routerLinkActive="active">Logout</a>
        </div>
    </div>
</nav>